@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>¡Hacete parte!</h1>
<div>
    <form>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" />
        </div>
        <div>
            <select class="form-select">
                <option selected>Tipo de socio</option>
                <option value="1">Socio Jugador/a</option>
                <option value="2">Socio Patin</option>
                <option value="3">Socio Hincha</option>
            </select>
        </div>
        <div>
            <label class="form-label">Telefono de Contacto</label>
            <input type="number" class="form-control"/>
        </div>
        <div>
            <label class="form-label">Correo electronico</label>
            <input type="email"  class="form-control"/>
        </div>
        <div>
            <label class="form-label">Domicilio</label>
            <input type="text" class="form-control" />
        </div>
        <div>
            <label class="form-label">Algo que tengamos que saber de vos</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
    </form>
        <br />
        <br />
        <div class="d-grid gap-2">
            <button type="button">¡Quiero ser violeta!</button>
        </div>
</div>